.attendee-page {
  padding: 1rem;
  .attendee-information {
    text-align: center;
  }
}

.loading-icon {
  padding: 2rem;
}
.player {
  display: flex;
  flex-flow: row;
  justify-content: center;
  app-player {
    width: 90%;
  }
  margin-bottom: 1rem;
}
.dealer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  app-dealer {
    width: 90%;
  }
}

@media only screen and (min-width: 540px) and (max-width: 900px) {
  .player {
    app-player {
      width: 70%;
    }
  }
  .dealer {
    app-dealer {
      width: 70%;
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .player {
    app-player {
      width: 60%;
    }
  }
  .dealer {
    app-dealer {
      width: 60%;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .player {
    app-player {
      width: 50%;
    }
  }
  .dealer {
    app-dealer {
      width: 50%;
    }
  }
}
