<div class="dealer" *ngIf="dealer">
  <div class="header">
    <div class="name">{{ dealer.displayName }}</div>
    <div class="points">
      <div class="text" [@playerValue]="animate">
        {{ sumOfCards }}
      </div>
    </div>
  </div>
  <div class="dealer-cards">
    <div class="cards">
      <div
        [class]="'card ' + card.description"
        *ngFor="let card of cards"
      ></div>
    </div>
  </div>
  <div class="actions">
    <div class="action-text">Hit me</div>
  </div>
</div>
