<div class="empty-state">
  <div class="empty-state-panel">
    <div class="table-not-found">
      <div class="cards">
        <svg
          version="1.1"
          viewBox="0 0 640 640"
          width="320"
          height="320"
          xmlns="http://www.w3.org/2000/svg"
        >
          <image
            href="/assets/empty-state-card-4.svg"
            x="160"
            y="60"
            width="320"
            height="512"
            transform="rotate(-13 160, 572)"
          >
            <animateTransform
              attributeName="transform"
              type="rotate"
              dur="1.4s"
              repeatCount="1"
              keyTimes="0;1"
              values="0 160 572;-13 160 572"
            ></animateTransform>
          </image>
          <image
            href="/assets/empty-state-card-0.svg"
            x="160"
            y="60"
            width="320"
            height="512"
            transform="rotate(0 160, 572)"
          />
          <image
            href="/assets/empty-state-card-4.svg"
            x="160"
            y="60"
            width="320"
            height="512"
            transform="rotate(13 160, 572)"
          >
            <animateTransform
              attributeName="transform"
              type="rotate"
              dur="1.4s"
              repeatCount="1"
              keyTimes="0;1"
              values="0 160 572;13 160 572"
            ></animateTransform>
          </image>
        </svg>
      </div>
      <div class="info">
        <h1 translate="empty-state.table.title"></h1>
        <p translate="empty-state.table.text"></p>
      </div>
    </div>
  </div>
</div>
