<div class="home-page">
  <div class="background-panel" [@isLoaded]="userIsLoaded ? true : false"></div>
  <div class="user-options-panel">
    <h1 translate="home.title"></h1>
    <p translate="home.welcome"></p>
    <p class="center quote" translate="home.teaser"></p>
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="option-buttons" *ngIf="userIsLoaded">
      <app-create-table-button></app-create-table-button>
      <app-join-table-button></app-join-table-button>
    </div>
  </div>
</div>
