<h1 mat-dialog-title translate="create-dialog.title"></h1>
<div mat-dialog-content>
  <p translate="create-dialog.text"></p>
  <div *ngIf="tableForm">
    <form [formGroup]="tableForm" novalidate>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label translate="create-dialog.name-label"></mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions *ngIf="tableForm">
  <span class="warning" *ngIf="errorMessage">{{ errorMessage }}</span>
  <app-loading *ngIf="isSending"></app-loading>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!tableForm.valid || tableForm.pristine || isSending"
    (click)="createNewTable()"
    translate="button.create"
  ></button>
  <button
    mat-flat-button
    mat-dialog-close
    color="accent"
    [disabled]="isSending"
    translate="button.cancel"
  ></button>
</div>
